# Chapter 2: Data computation

In [ ]:
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt

In [ ]:
# When working in a Jupyter Notebook you might want to customize Xarray display settings to your liking
# The following settings reduce the amount of data displayed out by default
xr.set_options(display_expand_attrs=False, display_expand_data=False)
np.set_printoptions(threshold=10, edgeitems=2)

## Get data

In [ ]:
ds = xr.tutorial.load_dataset("ersstv5")
ds

## Basic arithmetic operations

Select the first datetime

In [ ]:
ds_t0 = ds.isel(time=0)

In [ ]:
ds_t0

In [ ]:
ds_t0.sst.plot(vmin=-2, vmax=30)

The air temperature is given in Kelvin degre. Try to convert it in Celsius (https://en.wikipedia.org/wiki/Conversion_of_scales_of_temperature#Comparison_of_temperature_scales)

In [ ]:
# TODO

Plot in Kelvin

In [ ]:
# TODO

It is possible to apply more complex functions. Try to apply the function function $10 \times log(SST^2)$ to SST in Kelvin.

In [ ]:
# TODO

### Reduction operations

Reductions are functions that reduce the dimensionlity of a dataset. 
Try to compute the mean of sea surface temperature along. You will obtain a 2D array and then plot it.

In [ ]:
# TODO

### Computation with groupby

First, extract the data on a specific point (lat=20, lon=200)

In [ ]:
da = ds.sst.sel(lat=20,lon=200)
da

Plot the data

In [ ]:
da.plot()

Use the `groupby` method to group data. The `groupby` is similar as the `pandas.groupby` method.

In [ ]:
?xr.DataArray.groupby

Try to group data by month (using "time.month")

In [ ]:
# TODO

Try to compute the mean of temperature by month and then plot it.

In [ ]:
# TODO

## Computation with a rolling window

Use the data on a specific point (lat=20,lon=200)

In [ ]:
da = ds.sst.sel(lat=20,lon=200)
da

In this DataArray, there is one data per month.

Define a rolling window of 12 months. Use `xarray.DataArray.rolling`

In [ ]:
?xr.DataArray.rolling

In [ ]:
# TODO

Compute the mean in each window

In [ ]:
# TODO

Plot the data and the averaged data.

In [ ]:
# TODO